*{
    padding: 0; margin: 0;
}
.header_wrap{
    background-color: #C7C7C7;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px 15px 15px;
    box-sizing: border-box;
    /*max-width: 1630px;*/
    margin: 0 auto;
}
.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 70px;
}

.menu li a{
    color: black;
    text-decoration: none;
}

.menu li a:hover{
    color: #019285;
}

/*-------------------------------------------*/

.my_description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C7C7C7;
}

.logo1{
    padding: 100px 30px;
    border-radius: 10px;
    height: 20%;
    width: 30%;
}

.logo1 img{
    border-radius: 10px;
}
.my_description div{
   text-align: center ;
    margin: 0 auto;

}

/*----------------------------*/

.my_descripstion2{
    text-align: center;
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

/*----------------------------*/
.NoName{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: #019285;
}

.NoName ul{
    display: flex;
}

.NoName ul li{
    padding: 10px;
    margin-left: 70px;
    list-style: none;
}
